name: CI + CD Express API

on:
  push:
    branches:
      - main

jobs:
  ci_test_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['18', '20']

    steps:
      - name: 1. Descargar C贸digo de Express
        uses: actions/checkout@v4

      - name: 2. Configurar Node.js (v${{ matrix.node-version }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: 3. Instalar Dependencias (npm ci)
        run: npm ci

      - name: 4. Ejecutar Pruebas de Endpoints (Jest/Supertest)
        run: npm test

  deploy_app:
    runs-on: ubuntu-latest
    needs: [ci_test_build]

    steps:
      - name: 1. Descargar c贸digo para despliegue
        uses: actions/checkout@v4

      - name: 2. Simulaci贸n de despliegue
        run: echo " Despliegue exitoso a producci贸n!"

